{% extends "payment/thank_page.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block form %}
  <form id="freekassa" method="GET" action="https://pay.freekassa.ru/">
    <input type="hidden" name="m" value="{{ merchant_id }}">
    <input type="hidden" name="oa" value="{{ amount }}">
    <input type="hidden" name="o" value="{{ transaction_id }}">
    <input type="hidden" name="s" value="{{ signature }}">
    <input type="hidden" name="currency" value="{{ currency }}">
    <input type="hidden" name="lang" value="{{ LANGUAGE_CODE }}">
    <input type="hidden" name="us_username" value="{{ username }}">
    <input type="hidden" name="em" value="{{ user_email }}">
  </form>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('form#freekassa').submit();
    });
  </script>
{% endblock %}