{% extends 'payment/thank_page.html' %}
{% block head %}
  <script src="https://checkout.paythrone.com/v1/checkout.js" class="js-checkout-widget"
          data-config-create-button="false"></script>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      Pay.Api.Checkout.on('success', function () {
        window.location.href = '{% url 'wallet-history' %}';
      });
      Pay.Api.Checkout.on('fail', function () {
        window.location.href = '{% url 'wallet-deposit' %}';
      });
      Pay.Api.Checkout.on('close', function () {
        window.location.href = '{% url 'wallet-deposit' %}';
      });
      Pay.Api.Checkout.open({
        'price': '{{ amount }}',
        'project': '{{ project }}',
        'currency': '{{ currency }}',
        'user': '{{ user_id }}',
        'display_name': '{{ user_name }}',
        'email': '{{ user_email }}',
        'order_id': '{{ transaction_id }}',
        'description': '{{ description }}',
        'signature': '{{ signature }}'
      });
    });
  </script>
{% endblock %}