{% extends 'fxprofile/base.html' %}
{% load static i18n %}
{% block content %}
  <div class="col-md-8 col-12 mr-auto ml-auto">
    <div class="wizard-container">
      <div class="card card-wizard active" data-color="orange" id="wizard_deposit">
        <div class="card-header text-center">
          <h3 class="card-title">{% trans 'PAYMENT_THANK_PAGE_TITLE' %}</h3>
          <h5 class="card-description">{% trans 'PAYMENT_THANK_PAGE_TITLE_DESCRIPTION' %}</h5>
        </div>
        <div class="card-body">
          <div class="alert alert-info alert-with-icon" style="margin-top: 0" data-notify="container">
            <i class="material-icons" data-notify="icon">notifications</i>
            <span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span>
            <span data-notify="message" class="font-weight-bold">{% trans 'PAYMENT_ROCKSPAY_INFO_TEXT' %}</span>
          </div>
          <h4 class="info-text text-success font-weight-bold">{% trans 'PAYMENT_ROCKSPAY_AMOUNT' %} {{ amount }} ({{ currency }})</h4>

          <h4 class="info-text text-danger font-weight-bold">{% trans 'PAYMENT_BLOCKCHAIN_PAGE_EXPIRATION' %} <span id="timer">00:00:00</span></h4>
          <h2 class="info-text text-primary font-weight-bold"><i class="material-icons">credit_card</i> <span id="card_number">{{ card_number }}</span></h2>
          <div class="row">
            <form method="get" action="/payments/rockspay/check" class="d-block m-auto">
              <input type="hidden" name="invoice_id" id="invoice_id" value="{{ invoice_id }}" />
              <button type="submit" class="btn btn-primary">{% trans 'PAYMENT_ROCKSPAY_SEND_CHECK' %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'js/plugins/tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/timer.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      timer.init('timer', '{{ expired_at }}', '{% url 'wallet-deposit' %}');
      let $card_number = document.getElementById('card_number');
      $card_number.innerText = tools.maskCard($card_number);
    });
  </script>
{% endblock %}