{% extends 'users/base.html' %}
{% load i18n static %}
{% block content %}
  {% if validlink %}
    <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
      <form method="post">
        {% csrf_token %}
        <div class="card">
          <div class="card-header card-header-primary text-center">
            <h4 class="card-title">{% trans 'USERS_PWD_RESET_CARD_TITLE' %}</h4>
          </div>
          <div class="card-body">
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">{{ field.label }} - {{ error }}</div>
              {% endfor %}
            {% endfor %}
            <div class="form-row">
              <div class="col">
                <div class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">lock_outline</i></span>
                    </div>
                    {{ form.new_password1 }}
                  </div>
                </div>
                <div class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">lock</i></span>
                    </div>
                    {{ form.new_password2 }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ml-auto">
            <button type="submit" class="btn btn-primary">{% trans 'USERS_PWD_RESET_CARD_SUBMIT' %}
              <div class="ripple-container"></div>
            </button>
          </div>
        </div>
      </form>
    </div>

  {% else %}

    <p>{% trans "USERS_PWD_RESET_ERROR_MESSAGE" %}</p>

  {% endif %}

{% endblock %}
