{% extends 'users/base.html' %}
{% load i18n static recaptcha2 %}
{% block head %}
  {% recaptcha_init %}
{% endblock %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
  <div class="col-md-6 ml-auto mr-auto">
    <form id="registration_form" method="post" action="{% url 'user-reg' %}">
      {% csrf_token %}
      <div class="card">
        <div class="card-header card-header-primary text-center">
          <h4 class="card-title">{% trans 'USERS_REGISTRATION_TITLE' %}</h4>
        </div>
        <div class="card-body">
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger" role="alert">{{ field.label }} - {{ error }}</div>
            {% endfor %}
          {% endfor %}
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating" for="{{ form.username.id_for_label }}">{% trans 'USERS_REGISTRATION_USERNAME' %}<span
                    class="required">&nbsp;*</span></label>
                {{ form.username }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating" for="{{ form.email.id_for_label }}">{% trans 'USERS_REGISTRATION_EMAIL' %}<span
                    class="required">&nbsp;*</span></label>
                {{ form.email }}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating" for="{{ form.first_name.id_for_label }}">{% trans 'USERS_REGISTRATION_FIRSTNAME' %}<span
                    class="required">&nbsp;*</span></label>
                {{ form.first_name }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating" for="{{ form.last_name.id_for_label }}">{% trans 'USERS_REGISTRATION_LASTNAME' %}<span
                    class="required">&nbsp;*</span></label>
                {{ form.last_name }}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating" for="{{ form.password1.id_for_label }}">{% trans 'USERS_REGISTRATION_PWD' %}<span
                    class="required">&nbsp;*</span></label>
                {{ form.password1 }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating" for="{{ form.password2.id_for_label }}">{% trans 'USERS_REGISTRATION_PWD2' %}<span
                    class="required">&nbsp;*</span></label>
                {{ form.password2 }}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="label-control" for="{{ form.country.id_for_label }}">{% trans 'USERS_REGISTRATION_COUNTRY' %}<span
                    class="required">&nbsp;*</span></label>
                {{ form.country }}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating" for="{{ form.city.id_for_label }}">{% trans 'USERS_REGISTRATION_CITY' %}<span
                    class="required">&nbsp;*</span></label>
                {{ form.city }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="label-control" for="{{ form.birth_date.id_for_label }}">{% trans 'USERS_REGISTRATION_BIRTHDATE' %}<span
                    class="required">&nbsp;*</span></label>
                {{ form.birth_date }}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mr-auto">
              <div class="form-group">
                <label class="bmd-label-floating" for="{{ form.phone.id_for_label }}">{% trans 'USERS_REGISTRATION_PHONE' %}<span
                    class="required">&nbsp;*</span></label></label>
                {{ form.phone }}
              </div>
            </div>
            <div class="col-md-4 ml-auto">
              <div class="form-group">
                <label class="bmd-label-floating" for="{{ form.promo.id_for_label }}">{% trans 'USERS_REGISTRATION_PROMOCODE' %}</label>
                {{ form.promo }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input required class="form-check-input" type="checkbox" name="agreement" value="">
                {% blocktrans %}I have read and accept the «Client Agreement» and I understand the nature of financial
                  instruments and the risks involved, so, in light of my circumstances and financial position,
                  I confirm that using financial instruments provided by the Company correspond to my
                  investment objectives.{% endblocktrans %}
                <span class="form-check-sign"><span class="check"></span></span>
              </label>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="form-group bmd-form-group mr-auto">
            {{ form.captcha }}
            <input type="hidden" class="hiddenRecaptcha" required name="hiddenRecaptcha" id="hiddenRecaptcha">
          </div>
          <div class="ml-auto">
            <button id="form_submit" type="submit" class="btn btn-primary">{% trans 'USERS_REGISTRATION_SUBMIT' %}
              <div class="ripple-container"></div>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/plugins/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/plugins/moment.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#birth_date').datetimepicker({
        format: "YYYY-MM-DD",
        icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-chevron-up",
          down: "fa fa-chevron-down",
          previous: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          today: 'fa fa-screenshot',
          clear: 'fa fa-trash',
          close: 'fa fa-remove'
        }
      });
      jQuery.validator.addMethod("alphanumeric", function(value, element) {
        return this.optional(element) || /^\w+$/i.test(value);
      }, "{% trans 'English letters, numbers, and underscores only please' %}");
      jQuery.validator.addMethod("cyr_alphanumeric", function(value, element) {
        return this.optional(element) || /^[a-z]*$/i.test(value) || /^[а-я]*$/i.test(value);
      }, "{% trans 'English and Cyrillic letters, only please' %}");
      jQuery.validator.addMethod("valid_email", function(value, element) {
        return this.optional(element) || /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/i.test(value);
      }, "{% trans 'Please enter a valid email address' %}");
      jQuery.validator.addMethod("pwd_check", function(value, element) {
        return this.optional(element) || /^(?=.*\d)(?=.*[A-Z])(?=.*\W).*$/i.test(value);
      }, "{% trans 'Password must contain one capital letter, one numerical and one special character' %}");
      jQuery.validator.addMethod("phone_check", function(value, element) {
        return this.optional(element) || /^\+?1?\d{9,15}$/i.test(value);
      }, '{% trans 'USERS_PHONE_VALIDATION_ERROR' %}');
      jQuery.validator.addMethod(
        "birthday_check",
        function (e, t) {
          let l=e.split("-");
          let a=l[2],n=l[1],r=l[0],u=new Date;
          u.setFullYear(r,n-1,a);
          let s=new Date,w=new Date;
          return w.setFullYear(u.getFullYear()+18,n-1,a),s-w>0
        },
        "{% trans 'Sorry, you must be 18 years of age to apply' %}"
      );
      jQuery.validator.addMethod("digits", function(value, element) {
        return this.optional(element) || /^\d*$/.test(value)
      }, '{% trans 'Please enter only positive digits' %}');
      jQuery.extend(jQuery.validator.messages, {
        required: "{% trans 'This field is required' %}",
        equalTo: "{% trans 'Please enter the same value again' %}",
        maxlength: jQuery.validator.format("{% trans 'Please enter no more than {0} characters' %}"),
        minlength: jQuery.validator.format("{% trans 'Please enter at least {0} characters' %}"),
        rangelength: jQuery.validator.format("{% trans 'Please enter a value between {0} and {1} characters long' %}"),
      });
      let $validator = $('#registration_form').validate({
        ignore: ".ignore",
        rules: {
          hiddenRecaptcha: {
            required: function () {
              return grecaptcha.getResponse() === '';
            }
          },
          username: {
            alphanumeric: true,
            rangelength: [4, 64],
          },
          first_name: {
            cyr_alphanumeric: true,
            rangelength: [1, 64],
          },
          last_name: {
            cyr_alphanumeric: true,
            rangelength: [1, 64],
          },
          email: {
            valid_email: true,
          },
          password1: {
            pwd_check: true,
            minlength: 6
          },
          password2: {
            equalTo : "#password1"
          },
          city: {
            maxlength: 128,
          },
          phone: {
            phone_check: true,
          },
          promo: {
            digits: true,
          },
          birth_date: {
            birthday_check: true,
          }
        },
        highlight: function (element) {
          $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
          $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
        },
        success: function (element) {
          $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
          $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
          $(element).closest('.error').remove();
        },
        errorPlacement: function (error, element) {
          $(element).closest('.form-group').append(error);
        }
      });
    });
  </script>
{% endblock %}
