{% extends 'fxprofile/base.html' %}
{% load static %}
{% load recaptcha2 %}
{% load i18n %}
{% block head %}
  {% recaptcha_init %}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <form id="change-password-form" action="{% url 'password-change' %}" method="POST">
        {% csrf_token %}
        <div class="card ">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">contacts</i>
            </div>
            <h4 class="card-title">{{ title_category }}</h4>
          </div>
          <div class="card-body ml-auto mr-auto">
            <div class="col">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">{% trans 'PROFILE_CHANGEPWD_OLDPWD' %}</label>
                {{ form.old_password }}
              </div>
            </div>
            <div class="col">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">{% trans 'PROFILE_CHANGEPWD_NEWPWD' %}</label>
                {{ form.new_password1 }}
              </div>
            </div>
            <div class="col">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">{% trans 'PROFILE_CHANGEPWD_NEWPWD2' %}</label>
                {{ form.new_password2 }}
              </div>
            </div>
            <div class="col">
              <div class="form-group bmd-form-group">
                {{ form.captcha }}
                <input type="hidden" class="hiddenRecaptcha" required name="hiddenRecaptcha" id="hiddenRecaptcha">
              </div>
            </div>
          </div>
          <div class="card-footer ml-auto">
            <button type="submit" class="btn btn-primary">{% trans 'PROFILE_CHANGEPWD_SUBMIT' %}
              <div class="ripple-container"></div>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script src="{% static 'js/plugins/jquery.validate.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      let $validator = $('form#change-password-form').validate({
        ignore: ".ignore",
        rules: {
          hiddenRecaptcha: {
            required: function () {
              return grecaptcha.getResponse() === '';
            }
          }
        },
        highlight: function (element) {
          $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
          $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
        },
        success: function (element) {
          $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
          $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
        },
        errorPlacement: function (error, element) {
          $(element).closest('.form-group').append(error);
        }
      });
    });
  </script>
{% endblock %}