{% extends 'fxprofile/base.html' %}
{% load static i18n %}
{% block content %}
{% if not request.user.is_verificated %}
<div class="row">
  <div class="col">
    <div class="alert alert-danger alert-with-icon" data-notify="container">
      <i class="material-icons" data-notify="icon">notifications</i>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="material-icons">close</i>
      </button>
      <span data-notify="message">{% trans 'PROFILE_NEED_VERIFY' %} <a
          href="{% url 'verification' %}" class="text-dark">{% trans 'PROFILE_NEED_VERIFY_LINK' %}</a>.</span>
    </div>
  </div>
</div>
{% endif %}
<div class="row">
  {% for wallet in wallets %}
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">account_balance_wallet</i>
        </div>
        <p class="card-category">{{ wallet.currency.iso }} {% trans 'PROFILE_PERSONAL_ACCOUNT_WALLET' %}</p>
        <h3 class="card-title">{{ wallet.currency.symbol }}{{ wallet.wallet_balance }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">contact_support</i> {% trans 'PROFILE_PERSONAL_ACCOUNT_BALANCE_DESC' %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-tabs card-header-rose">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">Quotes:</span>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#forex_tab" data-toggle="tab">
                  <i class="material-icons">timeline</i> FOREX
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#crypto_tab" data-toggle="tab">
                  <i class="material-icons">monetization_on</i> CRYPTO
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#shares_tab" data-toggle="tab">
                  <i class="material-icons">trending_up</i> SHARES
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#commodities_tab" data-toggle="tab">
                  <i class="material-icons">opacity</i> COMMODITIES
                  <div class="ripple-container"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="forex_tab">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>SYMBOL</th>
                  <th>BID</th>
                  <th>ASK</th>
                </tr>
              </thead>
              <tbody id="qForex">

              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="crypto_tab">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>SYMBOL</th>
                  <th>BID</th>
                  <th>ASK</th>
                </tr>
              </thead>
              <tbody id="qCrypto">

              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="shares_tab">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>SYMBOL</th>
                  <th>BID</th>
                  <th>ASK</th>
                </tr>
              </thead>
              <tbody id="qShares">

              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="commodities_tab">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>SYMBOL</th>
                  <th>BID</th>
                  <th>ASK</th>
                </tr>
              </thead>
              <tbody id="qCommodities">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/plugins/quotes.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function () {
    let subsQuotes = {
      "qForex": ["EURUSD", "GBPUSD", "USDJPY", "EURGBP", "USDCAD", "GBPJPY", "AUDUSD", "EURCHF"],
      "qCrypto": ["BTCUSD", "ETHBTC", "LTCUSD", "XRPUSD", "BCHUSD", "XLMUSD", "XMRUSD", "DASHUSD"],
      "qShares": ["#Barclays", "#Vodafone", "#Amazon", "#Apple", "#TeslaMotor", "#DeutscBank", "#USNDAQ100", "#Commerzbnk"],
      "qCommodities": ["GOLD", "SILVER", "BRENT", "WTI", "NAT.GAS", "GOLDEURO", "SILVEREURO", "PLATINUM"],
    };
    let ws = quotes.initQuotesWidget("wss://{{ request.get_host }}/quotes", subsQuotes, {{ is_debug }});
  });
</script>
{% endblock %}