{% extends 'fxprofile/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
  <div class="row">
  <div class="card card-plain">
    <iframe style="border: none; height: calc(100vh - 123px); width: 100%; min-width: 1066px;" src="https://trade.mql5.com/trade?servers=GREENTRADE-MT4&amp;trade_server=GREENTRADE-MT4&amp;demo_server=GREENTRADE-MT4&amp;lang={{ LANGUAGE_CODE }}" allowfullscreen="allowfullscreen"></iframe>
  </div>
  </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
  $(document).ready(function () {
    $('body').addClass('sidebar-mini');
  });
  </script>
{% endblock %}