asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.5
django-countries==7.0
-e git+https://github.com/AlexandrSvetliy/django-logging.git@a792c706398773cf0a93e79e73ec53404bcaf2fb#egg=django_logging_json
django-recaptcha2==1.4.1
elasticsearch==7.10.1
gunicorn==20.0.4
idna==2.10
mysqlclient==2.0.3
Pillow==8.1.0
pipupgrade==1.7.4
pytz==2020.5
requests==2.25.1
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
