{% load static i18n %}
<div class="sidebar" data-color="danger" data-background-color="black" data-image="{% static 'img/sidebar-1.jpg' %}">
  <div class="logo">
    <a href="{% url 'profile-index' %}" class="simple-text logo-mini">
      {% trans 'PROFILE_SIDEBAR_LOGO_MINI' %}
    </a>
    <a href="{% url 'profile-index' %}" class="simple-text logo-normal">
      {% trans 'PROFILE_SIDEBAR_LOGO_NORMAL' %}
    </a>
  </div>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="{% static 'img/default-avatar.png' %}"/>
      </div>
      <div class="user-info">
        <a data-toggle="collapse" href="#userInfoCollapse" class="username">
          <span>{{ user.first_name }} {{ user.last_name }}<b class="caret"></b></span>
        </a>
        <div class="collapse {{ nav_profile_collapsed }}" id="userInfoCollapse">
          <ul class="nav">
            <li class="nav-item {{ nav_change_profile }}">
              <a class="nav-link" href="{% url 'profile-change' %}">
                <span class="sidebar-mini"> {% trans 'PROFILE_SIDEBAR_EDIT_PROFILE_MINI' %} </span>
                <span class="sidebar-normal"> {% trans 'PROFILE_SIDEBAR_EDIT_PROFILE_NORMAL' %} </span>
              </a>
            </li>
            <li class="nav-item {{ nav_change_password }}">
              <a class="nav-link" href="{% url 'password-change' %}">
                <span class="sidebar-mini"> {% trans 'PROFILE_SIDEBAR_CHANGE_PWD_MINI' %} </span>
                <span class="sidebar-normal"> {% trans 'PROFILE_SIDEBAR_CHANGE_PWD_NORMAL' %} </span>
              </a>
            </li>
            <li class="nav-item {{ nav_verification }}">
              <a class="nav-link" href="{% url 'verification' %}">
                <span class="sidebar-mini"> {% trans 'PROFILE_SIDEBAR_VERIFY_MINI' %} </span>
                <span class="sidebar-normal"> {% trans 'PROFILE_SIDEBAR_VERIFY_NORMAL' %} </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item {{ nav_dashboard }}">
        <a class="nav-link" href="{% url 'profile-index' %}">
          <i class="material-icons">dashboard</i>
          <p> {% trans 'PROFILE_SIDEBAR_DASHBOARD' %} </p>
        </a>
      </li>
      <li class="nav-item {{ nav_acc_management }}">
        <a class="nav-link" data-toggle="collapse" href="#accountManagementCollapse">
          <i class="material-icons">account_balance_wallet</i>
          <p> {% trans 'PROFILE_SIDEBAR_ACCOUNTS_MANAGEMENT' %}
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse {{ nav_acc_collapsed }}" id="accountManagementCollapse">
          <ul class="nav">
            <li class="nav-item  {{ nav_acc_registration }}">
              <a class="nav-link" href="{% url 'mt4-account-create' %}">
                <span class="sidebar-mini"> {% trans 'PROFILE_SIDEBAR_ACCOUNT_REG_MINI' %} </span>
                <span class="sidebar-normal"> {% trans 'PROFILE_SIDEBAR_ACCOUNT_REG_NORMAL' %} </span>
              </a>
            </li>
            <li class="nav-item  {{ nav_acc_view }}">
              <a class="nav-link" href="{% url 'mt4-accounts' %}">
                <span class="sidebar-mini"> {% trans 'PROFILE_SIDEBAR_ACCOUNT_VIEW_MINI' %} </span>
                <span class="sidebar-normal"> {% trans 'PROFILE_SIDEBAR_ACCOUNT_VIEW_NORMAL' %} </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item {{ nav_funds }}">
        <a class="nav-link" data-toggle="collapse" href="#fundsCollapse">
          <i class="material-icons">credit_card</i>
          <p> {% trans 'PROFILE_SIDEBAR_FUNDS_TRASFER' %}
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse {{ nav_funds_collapsed }}" id="fundsCollapse">
          <ul class="nav">
            <li class="nav-item {{ nav_funds_deposit }}">
              <a class="nav-link" href="{% url 'wallet-deposit' %}">
                <span class="sidebar-mini"> {% trans 'PROFILE_SIDEBAR_DEPOSIT_MINI' %} </span>
                <span class="sidebar-normal"> {% trans 'PROFILE_SIDEBAR_DEPOSIT_NORMAL' %} </span>
              </a>
            </li>
            <li class="nav-item {{ nav_funds_withdraw }}">
              <a class="nav-link" href="{% url 'wallet-withdraw' %}">
                <span class="sidebar-mini"> {% trans 'PROFILE_SIDEBAR_WITHDRAW_MINI' %} </span>
                <span class="sidebar-normal"> {% trans 'PROFILE_SIDEBAR_WITHDRAW_NORMAL' %} </span>
              </a>
            </li>
            <li class="nav-item {{ nav_funds_transfer }}">
              <a class="nav-link" href="{% url 'wallet-transfer' %}">
                <span class="sidebar-mini"> {% trans 'PROFILE_SIDEBAR_TRANSFER_MINI' %} </span>
                <span class="sidebar-normal"> {% trans 'PROFILE_SIDEBAR_TRANSFER_NORMAL' %} </span>
              </a>
            </li>
            <li class="nav-item {{ nav_funds_history }}">
              <a class="nav-link" href="{% url 'wallet-history' %}">
                <span class="sidebar-mini"> {% trans 'PROFILE_SIDEBAR_HISTORY_MINI' %} </span>
                <span class="sidebar-normal"> {% trans 'PROFILE_SIDEBAR_HISTORY_NORMAL' %} </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item {{ nav_ask_question }}">
        <a class="nav-link" data-toggle="collapse" href="#askQuestionCollapse">
          <i class="material-icons">question_answer</i>
          <p> {% trans 'PROFILE_SIDEBAR_ASK_QUESTION' %}
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse {{ nav_ask_question_collapsed }}" id="askQuestionCollapse">
          <ul class="nav">
            <li class="nav-item  {{ nav_question_create }}">
              <a class="nav-link" href="{% url 'question-ticket-create' %}">
                <span class="sidebar-mini"> {% trans 'PROFILE_SIDEBAR_QUESTION_CREATE_MINI' %} </span>
                <span class="sidebar-normal"> {% trans 'PROFILE_SIDEBAR_QUESTION_CREATE_NORMAL' %} </span>
              </a>
            </li>
            <li class="nav-item  {{ nav_question_view }}">
              <a class="nav-link" href="{% url 'question-tickets' %}">
                <span class="sidebar-mini"> {% trans 'PROFILE_SIDEBAR_QUESTION_VIEW_MINI' %} </span>
                <span class="sidebar-normal"> {% trans 'PROFILE_SIDEBAR_QUESTION_VIEW_NORMAL' %} </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item {{ nav_mt4client }}">
        <a class="nav-link" href="https://xyz.trading/xyztrading4setup.exe">
          <i class="material-icons">cloud_download</i>
          <p> {% trans 'PROFILE_SIDEBAR_MT4CLIENT' %} </p>
        </a>
      </li>
    </ul>
  </div>
</div>