{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_modify static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ 'Partner users'|capfirst }}</a>{% else %}{{ 'Partner users'|capfirst }}{% endif %}
&rsaquo; {% trans 'Manage' %} {{ original|truncatewords:"18" }}
</div>
{% endblock %}
{##}
{#{% block content %}#}
{#{% endblock %}#}